@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 100vw;
  font-family: 'Inter' !important;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login{
  display: flex;
  width: 100%;
  height: 100vh;
}

.login-image{
  width: 50%;
  background-image: url('https://images.unsplash.com/photo-1620121478247-ec786b9be2fa?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.login-form{
  width: 50%;
  box-sizing: border-box;
  padding: 6em 8em;
}

.login-input{
  width: 100%;
  margin-bottom: 2em;
}

.login-input .MuiFormControl-root:nth-child(1){
  margin-bottom: 2em;
}

#login-button{
  width: 100% !important;
}

.login-title{
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  justify-content: center;
}

.login-title span{
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  color: #141522;
  font-size: 22px;
  display: block;
  margin-left: -15px;
  margin-top: 10px;
}

.left-page-calendar h1 {
  color: #141522;
  font-weight: 600;
  font-size: 26px;
  display: block;
  padding: 1.2em 0 1.5em 1em;
  font-family: 'Plus Jakarta Sans' !important;
}

.page {
  display: flex;
  width: 100%;
  background-color: #FAFAFA;
  justify-content: space-between;
}

.navbar {
  width: fit-content;
  box-sizing: border-box;
  color: #8E92BC;
  padding: 2em 1.4em;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  cursor: pointer;
  margin-left: -15px;
}

.nav-title span {
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  color: #141522;
  font-size: 22px;
  display: block;
  margin-left: -15px;
  margin-top: 10px;
}

.links div {
  display: flex;
  align-self: center;
  align-items: center;
  width: 160px;
  padding: 0.8em 1.4em;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.link-selected {
  background-color: #F5F5F7;
  color: #141522;
}

.links div span {
  margin-left: 10px;
}

.left-page-calendar {
  width: 80%;
  margin-left: auto;
  background-color: #FFF;
  min-height: 100vh;
  padding-right: 0.5em;
}

.left-page {
  width: calc(80% - 2em);
  margin: 0 2em 2em auto;
  height: 100vh;
}

.left-page h1 {
  color: #141522;
  font-weight: 600;
  font-size: 26px;
  display: block;
  padding: 1.2em 0 1.5em 1em;
  font-family: 'Plus Jakarta Sans' !important;
}

.table-title {
  background-color: #fff;
  margin: 0 0 2em 0;
}

.top-content-table-page {
  padding: 0 2em 2em 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-button {
  background-color: #30B0C7 !important;
  color: #FFF !important;
}

#agendar-button {
  background-color: #30B0C7;
  color: #FFF;
  display: block;
  margin: auto 1.5em auto auto;
  padding: 0.8em 1.6em 0.8em 1.6em !important;
}

.spinner-calendar {
  width: 100%;
  padding-top: 6em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.sx__calendar {
  border: 0 !important;
}

.sx__week-grid__date {
  align-items: start !important;
  padding-left: 10px !important;
  box-shadow: inset -1px -1px 0px rgba(224, 224, 224, 1) !important;
}

.sx__time-grid-day {
  box-shadow: inset -1px -1px 0px rgba(224, 224, 224, 1) !important;
  border: 0 !important;
}

.sx__week-grid__date--is-today .sx__week-grid__date-number {
  background-color: transparent !important;
  color: #3D81DB !important;
}

.sx__week-header-border {
  border: 0 !important;
}

.sx__week-grid__hour {
  border-color: rgba(224, 224, 224, 1) !important;
}

.sx__week-grid__hour-text {
  font-weight: 500 !important;
}

.sx__week-grid__date-number {
  height: auto !important;
  width: auto !important;
  color: #1c1b1f !important;
}

.sx__today-button {
  border-radius: 12px !important;
  padding: 0.8em 2em 0.8em 2em !important;
  background-color: #F4F4F5 !important;
  border: 0 !important;
}

.sx__view-selection-selected-item {
  border-radius: 12px !important;
  padding: 0.8em 2em 0.8em 2em !important;
  background-color: #3D81DB !important;
  border: 0 !important;
  color: #FFF !important;
}

.sx__view-selection-items {
  border-radius: 12px !important;
  background-color: #FFF !important;
  color: #000 !important;
}

.sx__view-selection-item:nth-child(1):hover {
  border-radius: 12px 12px 0 0 !important;
  background-color: #F4F4F5 !important;
  color: #000 !important;
}

.sx__view-selection-item:nth-child(2):hover {
  border-radius: 0 0 12px 12px !important;
  background-color: #F4F4F5 !important;
  color: #000 !important;
}

.is-selected {
  background-color: transparent !important;
  color: #000 !important;
}

.sx__date-picker-popup {
  width: 18em !important;
  overflow: hidden !important;
}

.sx__date-picker__month-view-header__month-year {
  font-size: 1em !important;
}

.sx__date-picker__day-names,
.sx__date-picker__week {
  font-size: 12px !important;
}

.MuiInputBase-input,
.MuiMenuItem-root,
.MuiFormLabel-root {
  font-family: 'Inter' !important;
}

.MuiInputBase-input,
.MuiMenuItem-root {
  font-size: 14px !important;
}

.MuiAlert-root {
  border-radius: 12px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --sx-color-primary: #3D81DB !important;
  --sx-color-on-primary: #fff;
  --sx-color-primary-container: #eaddff;
  --sx-color-on-primary-container: #102E7A !important;
  --sx-color-secondary: #625b71;
  --sx-color-on-secondary: #fff;
  --sx-color-secondary-container: #e8def8;
  --sx-color-on-secondary-container: #1e192b;
  --sx-color-tertiary: #7d5260;
  --sx-color-on-tertiary: #fff;
  --sx-color-tertiary-container: #ffd8e4;
  --sx-color-on-tertiary-container: #370b1e;
  --sx-color-surface: #fef7ff;
  --sx-color-surface-dim: #ded8e1;
  --sx-color-surface-bright: #fef7ff;
  --sx-color-on-surface: #1c1b1f;
  --sx-color-surface-container: #f3edf7;
  --sx-color-surface-container-low: #f7f2fa;
  --sx-color-surface-container-high: #ece6f0;
  --sx-color-background: #fff;
  --sx-color-on-background: #1c1b1f;
  --sx-color-outline: #79747e;
  --sx-color-outline-variant: #c4c7c5;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #3D81DB !important;
  --sx-color-neutral: var(--sx-color-outline);
  --sx-color-neutral-variant: var(--sx-color-outline-variant);
  --sx-internal-color-gray-ripple-background: #e0e0e0;
  --sx-internal-color-light-gray: #fafafa;
  --sx-internal-color-text: #000;
}